#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

#
# * Server configuration
#
[server]

#
# * Basic Settings
#
user                   = mysql
basedir                = /usr
datadir                = /var/lib/mysql
tmpdir                 = /tmp
bind-address           = 0.0.0.0
skip_name_resolve      = 1
default_storage_engine = InnoDB
skip-external-locking

#
# * Fine Tuning
#
max_connections         = 50
connect_timeout         = 5
wait_timeout            = 600
max_allowed_packet      = 16M
thread_cache_size       = 128
sort_buffer_size        = 4M
bulk_insert_buffer_size = 16M
tmp_table_size          = 64M
max_heap_table_size     = 64M

#
# * InnoDB
#
sql_mode                = NO_ENGINE_SUBSTITUTION,TRADITIONAL
innodb_log_file_size    = 16M
innodb_buffer_pool_size = 265M
innodb_log_buffer_size  = 8M
innodb_file_per_table   = 1
innodb_open_files       = 400
innodb_io_capacity      = 400
innodb_flush_method     = O_DIRECT

#
# * MyISAM
#
myisam_recover          = BACKUP
key_buffer_size         = 128M
#open-files-limit       = 2000
table_cache             = 400
myisam_sort_buffer_size = 512M
concurrent_insert       = 2
read_buffer_size        = 2M
read_rnd_buffer_size    = 1M

#
# * Query Cache
#
query_cache_limit        = 256K
query_cache_size         = 80M
query_cache_min_res_unit = 2k
query_cache_type         = 1

#
# * Logging and Replication
#
log_warnings         = 2
long_query_time      = 10
#log_slow_rate_limit = 1000
log_slow_verbosity   = query_plan
#sync_binlog         = 1
expire_logs_days     = 10
max_binlog_size      = 100M
log_slow_admin_statements

#
# * Security Features
#
# Read the manual, too, if you want chroot!
# chroot = /var/lib/mysql/
#
# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
#
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem
